:root {
    --header-color: #ffffff;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-title-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-link.current {
    color: var(--accent-color);
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*----------Hero-------*/
.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF
}
.button-blue {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:var(--accent-color);
    cursor: pointer;
}
.button-grey {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #212121;
    cursor: pointer;
}
.button-grey:hover,
.button-grey:focus {
    background-color:var(--accent-color);
}   
/*----------Features-------*/
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/*----------Activity-------*/
.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: var(--main-title-color);
}
/*----------Team-------*/
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/*----------Footer-------*/
.adress {
    background-color: #2F303A;
}
.adress-map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.adress-map:hover,
.adress-map:focus {
    color: var(--accent-color);
}
.adress-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}
/*----------Filter-------*/




/*----------Filter result-------*/
.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}
.example-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}